Prepare rules for the all the data sets 

1) Try different values of support and confidence. Observe the change in number of rules for different support,confidence values

2) Change the minimum length in apriori algorithm

3) Visulize the obtained rules using different plots

In [ ]:
#importing the libraries
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules

###Data preprocessing

In [ ]:
movies=pd.read_csv("/content/my_movies.csv")
movies.head()

            V1       V2             V3  ... LOTR Braveheart  Green Mile
0  Sixth Sense    LOTR1  Harry Potter1  ...    0          0           1
1    Gladiator  Patriot     Braveheart  ...    0          1           0
2        LOTR1    LOTR2            NaN  ...    0          0           0
3    Gladiator  Patriot    Sixth Sense  ...    0          0           0
4    Gladiator  Patriot    Sixth Sense  ...    0          0           0

[5 rows x 15 columns]

In [ ]:
movies.shape

(10, 15)

In [ ]:
col=['V1','V2','V3','V4','V5']
movies=movies.drop(col,axis=1)

###Apriori algorithm

In [ ]:
frequent_movies = apriori(movies, min_support=0.05, use_colnames=True)
frequent_movies

    support                                           itemsets
0       0.6                                      (Sixth Sense)
1       0.7                                        (Gladiator)
2       0.2                                            (LOTR1)
3       0.2                                    (Harry Potter1)
4       0.6                                          (Patriot)
5       0.2                                            (LOTR2)
6       0.1                                    (Harry Potter2)
7       0.1                                             (LOTR)
8       0.1                                       (Braveheart)
9       0.2                                       (Green Mile)
10      0.5                           (Sixth Sense, Gladiator)
11      0.1                               (Sixth Sense, LOTR1)
12      0.1                       (Sixth Sense, Harry Potter1)
13      0.4                             (Sixth Sense, Patriot)
14      0.1                               (Sixth Sense, LOTR2)
15      0.1                                (Sixth Sense, LOTR)
16      0.2                          (Sixth Sense, Green Mile)
17      0.6                               (Patriot, Gladiator)
18      0.1                                  (LOTR, Gladiator)
19      0.1                            (Braveheart, Gladiator)
20      0.1                            (Green Mile, Gladiator)
21      0.1                             (LOTR1, Harry Potter1)
22      0.2                                     (LOTR1, LOTR2)
23      0.1                                (LOTR1, Green Mile)
24      0.1                             (LOTR2, Harry Potter1)
25      0.1                     (Harry Potter2, Harry Potter1)
26      0.1                        (Green Mile, Harry Potter1)
27      0.1                              (Braveheart, Patriot)
28      0.1                                (LOTR2, Green Mile)
29      0.1                                 (LOTR, Green Mile)
30      0.4                  (Sixth Sense, Patriot, Gladiator)
31      0.1                     (Sixth Sense, LOTR, Gladiator)
32      0.1               (Sixth Sense, Green Mile, Gladiator)
33      0.1                (Sixth Sense, LOTR1, Harry Potter1)
34      0.1                        (Sixth Sense, LOTR1, LOTR2)
35      0.1                   (Sixth Sense, LOTR1, Green Mile)
36      0.1                (Sixth Sense, LOTR2, Harry Potter1)
37      0.1           (Sixth Sense, Green Mile, Harry Potter1)
38      0.1                   (Sixth Sense, LOTR2, Green Mile)
39      0.1                    (Sixth Sense, LOTR, Green Mile)
40      0.1                   (Braveheart, Patriot, Gladiator)
41      0.1                      (LOTR, Green Mile, Gladiator)
42      0.1                      (LOTR1, LOTR2, Harry Potter1)
43      0.1                 (LOTR1, Green Mile, Harry Potter1)
44      0.1                         (LOTR1, Green Mile, LOTR2)
45      0.1                 (LOTR2, Green Mile, Harry Potter1)
46      0.1         (Sixth Sense, LOTR, Green Mile, Gladiator)
47      0.1         (Sixth Sense, LOTR1, LOTR2, Harry Potter1)
48      0.1    (Sixth Sense, LOTR1, Green Mile, Harry Potter1)
49      0.1            (Sixth Sense, LOTR1, Green Mile, LOTR2)
50      0.1    (Sixth Sense, LOTR2, Green Mile, Harry Potter1)
51      0.1          (LOTR1, Green Mile, LOTR2, Harry Potter1)
52      0.1  (Sixth Sense, LOTR1, LOTR2, Green Mile, Harry ...

In [ ]:
frequent_movies_1 = apriori(movies, min_support=0.1, use_colnames=True)
frequent_movies_1

    support                                           itemsets
0       0.6                                      (Sixth Sense)
1       0.7                                        (Gladiator)
2       0.2                                            (LOTR1)
3       0.2                                    (Harry Potter1)
4       0.6                                          (Patriot)
5       0.2                                            (LOTR2)
6       0.1                                    (Harry Potter2)
7       0.1                                             (LOTR)
8       0.1                                       (Braveheart)
9       0.2                                       (Green Mile)
10      0.5                           (Sixth Sense, Gladiator)
11      0.1                               (Sixth Sense, LOTR1)
12      0.1                       (Sixth Sense, Harry Potter1)
13      0.4                             (Sixth Sense, Patriot)
14      0.1                               (Sixth Sense, LOTR2)
15      0.1                                (Sixth Sense, LOTR)
16      0.2                          (Sixth Sense, Green Mile)
17      0.6                               (Patriot, Gladiator)
18      0.1                                  (LOTR, Gladiator)
19      0.1                            (Braveheart, Gladiator)
20      0.1                            (Green Mile, Gladiator)
21      0.1                             (LOTR1, Harry Potter1)
22      0.2                                     (LOTR1, LOTR2)
23      0.1                                (LOTR1, Green Mile)
24      0.1                             (LOTR2, Harry Potter1)
25      0.1                     (Harry Potter2, Harry Potter1)
26      0.1                        (Green Mile, Harry Potter1)
27      0.1                              (Braveheart, Patriot)
28      0.1                                (LOTR2, Green Mile)
29      0.1                                 (LOTR, Green Mile)
30      0.4                  (Sixth Sense, Patriot, Gladiator)
31      0.1                     (Sixth Sense, LOTR, Gladiator)
32      0.1               (Sixth Sense, Green Mile, Gladiator)
33      0.1                (Sixth Sense, LOTR1, Harry Potter1)
34      0.1                        (Sixth Sense, LOTR1, LOTR2)
35      0.1                   (Sixth Sense, LOTR1, Green Mile)
36      0.1                (Sixth Sense, LOTR2, Harry Potter1)
37      0.1           (Sixth Sense, Green Mile, Harry Potter1)
38      0.1                   (Sixth Sense, LOTR2, Green Mile)
39      0.1                    (Sixth Sense, LOTR, Green Mile)
40      0.1                   (Braveheart, Patriot, Gladiator)
41      0.1                      (LOTR, Green Mile, Gladiator)
42      0.1                      (LOTR1, LOTR2, Harry Potter1)
43      0.1                 (LOTR1, Green Mile, Harry Potter1)
44      0.1                         (LOTR1, Green Mile, LOTR2)
45      0.1                 (LOTR2, Green Mile, Harry Potter1)
46      0.1         (Sixth Sense, LOTR, Green Mile, Gladiator)
47      0.1         (Sixth Sense, LOTR1, LOTR2, Harry Potter1)
48      0.1    (Sixth Sense, LOTR1, Green Mile, Harry Potter1)
49      0.1            (Sixth Sense, LOTR1, Green Mile, LOTR2)
50      0.1    (Sixth Sense, LOTR2, Green Mile, Harry Potter1)
51      0.1          (LOTR1, Green Mile, LOTR2, Harry Potter1)
52      0.1  (Sixth Sense, LOTR1, LOTR2, Green Mile, Harry ...

We have got 52 rules for both 5% and 10% support

In [ ]:
frequent_movies_2 = apriori(movies, min_support=0.2, use_colnames=True)
frequent_movies_2

    support                           itemsets
0       0.6                      (Sixth Sense)
1       0.7                        (Gladiator)
2       0.2                            (LOTR1)
3       0.2                    (Harry Potter1)
4       0.6                          (Patriot)
5       0.2                            (LOTR2)
6       0.2                       (Green Mile)
7       0.5           (Sixth Sense, Gladiator)
8       0.4             (Sixth Sense, Patriot)
9       0.2          (Sixth Sense, Green Mile)
10      0.6               (Patriot, Gladiator)
11      0.2                     (LOTR1, LOTR2)
12      0.4  (Sixth Sense, Patriot, Gladiator)

13 sets of movies accurs more than 20% of times.
*   60% of times Sixth sense is watched and 70% of times the movie Gladiator is watched and so on
*   40% of times the movies Sixth Sense, Gladiator and Patriot are watched.

In [ ]:
frequent_movies_3 = apriori(movies, min_support=0.3, use_colnames=True)
frequent_movies_3

   support                           itemsets
0      0.6                      (Sixth Sense)
1      0.7                        (Gladiator)
2      0.6                          (Patriot)
3      0.5           (Sixth Sense, Gladiator)
4      0.4             (Sixth Sense, Patriot)
5      0.6               (Patriot, Gladiator)
6      0.4  (Sixth Sense, Patriot, Gladiator)

We have got very few rules for support 0.3 and 0.2. Therefore, I will select 0.1 as min support value for enough rules and better results.

I chose the 0.5 as minimum confidence value. In other words, when movie X is watched, we can say that the probability of watching movie(s) Y is 50% or more.

In [ ]:
rules = association_rules(frequent_movies_1, metric="confidence", min_threshold=0.5)
rules

                     antecedents  ... conviction
0                  (Sixth Sense)  ...        1.8
1                    (Gladiator)  ...        1.4
2                        (LOTR1)  ...        0.8
3                (Harry Potter1)  ...        0.8
4                  (Sixth Sense)  ...        1.2
..                           ...  ...        ...
211  (Green Mile, Harry Potter1)  ...        inf
212                      (LOTR1)  ...        1.8
213                      (LOTR2)  ...        1.8
214                 (Green Mile)  ...        1.8
215              (Harry Potter1)  ...        1.8

[216 rows x 9 columns]

Let us filter the data having the movie sets whose lift value is more than 2.

In [ ]:
rules=rules[rules['lift']>2]
#Sort the values
rules=rules.sort_values('lift',ascending=False)
rules

                          antecedents  ... conviction
130            (LOTR2, Harry Potter1)  ...        inf
202              (Sixth Sense, LOTR1)  ...        inf
193  (Sixth Sense, LOTR1, Green Mile)  ...        inf
205      (Sixth Sense, Harry Potter1)  ...        inf
207               (LOTR1, Green Mile)  ...        inf
..                                ...  ...        ...
25                    (Harry Potter1)  ...        1.6
27                            (LOTR2)  ...        1.6
28                       (Green Mile)  ...        1.6
21                    (Harry Potter1)  ...        1.6
14                            (LOTR1)  ...        1.6

[170 rows x 9 columns]

If we examine our 130th index value,
*   The probability of watching Sixth Sense and LOTR1 is 10%, while the probability of watching LOTR2 and Harry Potter is 10%, and the support for both of them is measured as 10%
*   100% of those who watched Sixth Sense and LOTR1 also watched LOTR2 and Harry Potter1.
*   Their correlation is infinity. Means, we can say these movies are strongly dependent.

In [ ]:
rules=rules[['antecedents','consequents','support','confidence','lift']]
rules

                          antecedents  ...  lift
130            (LOTR2, Harry Potter1)  ...  10.0
202              (Sixth Sense, LOTR1)  ...  10.0
193  (Sixth Sense, LOTR1, Green Mile)  ...  10.0
205      (Sixth Sense, Harry Potter1)  ...  10.0
207               (LOTR1, Green Mile)  ...  10.0
..                                ...  ...   ...
25                    (Harry Potter1)  ...   2.5
27                            (LOTR2)  ...   2.5
28                       (Green Mile)  ...   2.5
21                    (Harry Potter1)  ...   2.5
14                            (LOTR1)  ...   2.5

[170 rows x 5 columns]